.btn-see-App{
    text-decoration: none;
    background-color: rgb(73, 145, 252);
    padding: 12px 30px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.btn-see-App:hover{
    background-color: rgb(62, 138, 253);
}
.project{
   padding:15px;
}
.slider-img{
    height:500px;
    width:70%;
    border-radius:10px;
}
@media only screen and (max-width: 768px){
    .carousel{
        display: none;
    }
}