@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Lexend+Exa:wght@300&family=Roboto:wght@300&display=swap');

h1{
    padding:150px 0 40px 0;
    color:black;
    letter-spacing: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.start-btn{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-right:20px;
    border-radius: 50px;
    border:none;
    padding:10px 35px 10px 35px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
    background: #7ef3c2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #40afaa, #60e9b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #40afaa, #46b184); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.services-btn{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
    border:none;
    padding:10px 35px 10px 35px;
    letter-spacing: 4px;
    font-weight: bold;
    color:rgb(25, 175, 125);
    background-color: Transparent;
    border: 1px solid rgb(25, 175, 125);
}

.consult-services{
    width: 60%;
    margin: 80px auto;
}
h5{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-bottom:90px;
    font-size: 25px;
    letter-spacing: 2px;
}
h2{
    font-size: 40px;
    margin-bottom: 30px;
}
h6{
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Lexend Exa', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    width:45%;
    margin: auto;
}
.details{
    width:80%;
}
.material-symbols-outlined{
    font-size: 100px;
}
.product-details{

}